html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

h1 {
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra a {
    text-decoration: none;
}


/* Header */

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/barley-676551__340.webp);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/** Navegacion **/

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegacion a:hover {
    color: #71B100;
}


/** Mobile Menu **/

.mobile-menu img {
    width: 5rem;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.navegacion:target {
    display: block;
}

.navegacion {
    display: none;
}

@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}